
@import "tailwindcss";

:root {
  background-color: #030305;
  color: #f8fafc;
  color-scheme: dark;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: #030305;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #030305; }
::-webkit-scrollbar-thumb { background: #1e293b; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #06b6d4; }
